::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

body {
  position: relative;
  overflow-x: hidden; }

.box-container {
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative; }

.ct-mb {
  display: none; }

main {
  font-family: roboto; }

@media only screen and (max-width: 1199px) {
  .box-container {
    padding: 0 5px; } }

@media only screen and (max-width: 991px) {
  .box-container {
    padding: 0 10px; } }

@media only screen and (max-width: 991px) {
  .ct-desk {
    display: none; }
  .ct-mb {
    display: block; } }

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  color: #0664F9; }

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

picture {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
b,
i {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block; }

html, body {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444b52; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select,
input,
textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td,
td {
  vertical-align: top; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer; }

button,
input,
select,
textarea {
  margin: 0; }

button,
input[type="button"] {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

img {
  vertical-align: middle; }

a {
  color: #0168fa;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.detail {
  background-color: #F8F9FA; }

.product-box {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px #0A0A0A26;
  padding-bottom: 48px; }

.breadcrumb {
  padding: 6px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff !important;
  list-style: none; }

.breadcrumb-item::before {
  display: inline-block;
  padding: 0 5px;
  color: #ccc;
  content: "/"; }

.link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0664F9;
  cursor: pointer; }

.detail-heading {
  padding: 16px 0;
  background: #FFFFFF;
  box-shadow: 0px -1px 0px 0px #EDEEEF inset; }
  .detail-heading .row {
    display: flex;
    justify-content: space-between; }
    .detail-heading .row .col-left {
      display: flex;
      gap: 8px;
      align-items: baseline; }
    .detail-heading .row .col-right {
      padding: 6px 0 3px 0;
      display: flex;
      gap: 16px; }

.product-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #212529; }

.sku {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #939CA3; }

.rating-group {
  display: flex;
  gap: 4px; }
  .rating-group .rating-star {
    display: flex;
    gap: 4px; }
  .rating-group .ic-star::before {
    color: #939CA3; }
  .rating-group .fill::before {
    color: #EFB140; }
  .rating-group .rating-span {
    color: #939CA3; }

.compare-link a .ic-plus::before {
  display: inline-flex;
  justify-content: center;
  border: 1px solid #0664F9;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  padding: 2px; }

.detail-info {
  margin-top: 16px;
  display: flex;
  gap: 24px; }
  .detail-info__col-left {
    padding: 32px 0 0 0; }
  .detail-info__col-right {
    display: flex;
    flex-direction: column;
    gap: 16px; }

.detail-info__col-left .swiper-container {
  background-color: #fff;
  max-width: 576px;
  max-height: 451px; }
  .detail-info__col-left .swiper-container .swiper-wrapper .swiper-slide {
    max-width: 576px;
    max-height: 427px;
    background: #fff; }
    .detail-info__col-left .swiper-container .swiper-wrapper .swiper-slide img {
      width: auto;
      height: auto; }

.swiper-button-prev::after {
  display: none; }

.swiper-button-prev span {
  width: 40px;
  height: 40px;
  padding: 12px 13px 12px 11px;
  border-radius: 100px;
  border: 1px;
  display: flex;
  gap: 10px;
  background: #fff;
  color: #CBD1D6;
  border: 1px solid #CBD1D6;
  margin-left: 7px; }
  .swiper-button-prev span .ic-angle-right {
    width: 16px;
    height: 16px; }
    .swiper-button-prev span .ic-angle-right::before {
      color: #cbd1d6;
      font-size: 16px; }

.swiper-button-next::after {
  display: none; }

.swiper-button-next span {
  width: 40px;
  height: 40px;
  top: 226.5px;
  left: 529px;
  padding: 12px 11px 12px 13px;
  border-radius: 100px;
  border: 1px;
  display: flex;
  gap: 10px;
  background: #fff;
  color: #CBD1D6;
  border: 1px solid #CBD1D6;
  margin-right: 7px; }
  .swiper-button-next span .ic-angle-right {
    width: 16px;
    height: 16px; }
    .swiper-button-next span .ic-angle-right::before {
      color: #cbd1d6;
      font-size: 16px; }

.swiper-pagination-bullets {
  margin-top: 24px; }
  .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #CB1C22; }

.detail-feature {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 32px; }

.feature-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center; }
  .feature-item span {
    width: 44px;
    height: 44px; }
    .feature-item span i::before {
      font-size: 33px;
      color: #444B52; }
  .feature-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #444B52; }

.detail-description {
  margin-top: 16px;
  border-radius: 6px;
  border: 1px solid #EDEEEF;
  padding: 12px 16px;
  background: #F8F9FA; }
  .detail-description ul {
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .detail-description ul li {
      display: flex;
      gap: 8px;
      border-radius: 4px; }
      .detail-description ul li span::before {
        width: 24px;
        height: 24px;
        font-size: 21px;
        color: #939CA3; }
      .detail-description ul li p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #444B52; }

.detail-policy {
  margin-top: 8px;
  display: flex;
  gap: 16px; }
  .detail-policy__item {
    display: flex;
    gap: 4px; }
    .detail-policy__item span::before {
      width: 24px;
      height: 24px;
      font-size: 21px;
      color: #CB1C22; }
    .detail-policy__item p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #444B52; }
    .detail-policy__item a {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #0664F9;
      text-decoration: underline; }

.product-price {
  display: flex;
  gap: 8px;
  align-items: baseline; }
  .product-price__new {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: #CB1C22; }
  .product-price__old {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #939CA3;
    text-decoration: line-through; }

.product-promo {
  border-radius: 6px;
  border: 1px solid #EDEEEF;
  padding: 0 0 4px 0;
  background: #F8F9FA; }
  .product-promo .promo-title {
    border-radius: 2px 2px 0 0;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; }
  .product-promo .promo-list {
    border: 1px solid #EDEEEF;
    padding: 8px 0; }
    .product-promo .promo-list li {
      padding: 4px 12px; }

.radio {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0; }
  .radio input {
    position: relative !important;
    border: none;
    appearance: none;
    cursor: pointer;
    margin-left: 0 !important; }
    .radio input::before {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      content: "";
      display: block;
      border-radius: 50%; }
    .radio input:checked::before {
      background-color: #cb1c22;
      transform: scale(0.625);
      z-index: 2; }
    .radio input::after {
      width: 16px;
      height: 16px;
      position: relative;
      top: 0;
      border: 1px solid #97a3b9;
      background-color: #fff;
      content: "";
      display: block;
      border-radius: 50%; }
    .radio input:checked::after {
      background: 0 0;
      border: 1px solid #cb1c22; }
  .radio label .promo-option-group {
    border-radius: 2px 2px 0 0;
    padding: 4px 0;
    display: flex;
    align-items: center;
    gap: 8px; }
    .radio label .promo-option-group .promo-option-item {
      display: flex;
      gap: 8px; }
      .radio label .promo-option-group .promo-option-item .promo-image {
        width: 50px;
        height: 50px; }
    .radio label .promo-option-group .promo-plus {
      width: 12px;
      height: 12px;
      color: #444B52; }
    .radio label .promo-option-group .promo-text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #444B52; }
  .radio label .promo-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #444B52; }

.promo-title-tag {
  display: flex;
  gap: 10px;
  background: #F8F9FA;
  box-shadow: 0px 1px 0px 0px #EDEEEF inset; }
  .promo-title-tag .title-tag {
    border-radius: 0 0 4px 0;
    padding: 4px 12px;
    background: #EDEEEF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #32373D; }

.promo-box-check-list {
  padding: 8px 0; }
  .promo-box-check-list li {
    padding: 4px 12px;
    display: flex;
    gap: 8px;
    align-items: center; }
    .promo-box-check-list li .icon-ok-circled {
      width: 16px;
      height: 16px; }
      .promo-box-check-list li .icon-ok-circled::before {
        font-size: 16px;
        color: #48BB78; }
    .promo-box-check-list li div {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #444B52; }
      .promo-box-check-list li div span {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: #444B52; }

.cta {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #CB1C22;
  border: 1px solid #CB1C22;
  border-radius: 6px;
  padding: 18px 32px; }
  .cta strong {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #fff; }

.hotline {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444b52; }
  .hotline span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #CB1C22; }

.detail-row {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  justify-content: center; }
  .detail-row .detail-col-left {
    border-radius: 6px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px #0A0A0A26; }
  .detail-row .detail-col-right {
    display: flex;
    flex-direction: column;
    gap: 24px; }

.card-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #212529; }

.mt-16 {
  margin-top: 16px; }

.text-center {
  text-align: center; }

.card-content .swiper-container {
  max-width: 636px;
  height: 374px;
  background-color: #fff; }
  .card-content .swiper-container .swiper-wrapper .swiper-slide {
    max-width: 636px;
    height: 354px; }
    .card-content .swiper-container .swiper-wrapper .swiper-slide img {
      width: auto;
      height: auto; }
  .card-content .swiper-container .swiper-pagination-bullets {
    margin-top: 4px; }
    .card-content .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
      width: 40px;
      height: 4px;
      border-radius: 100px; }
    .card-content .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet-active {
      background: #CB1C22; }
  .card-content .swiper-container .swiper-button-prev span {
    margin-left: 0; }
  .card-content .swiper-container .swiper-button-next span {
    margin-right: 0; }

.mb-24 {
  margin-bottom: 24px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-8 {
  margin-bottom: 8px; }

.card-title-sm {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #212529; }

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444B52; }

.hidden-content {
  display: none; }

.card-image {
  position: relative; }

.view-more-overlay {
  position: absolute;
  z-index: 100;
  bottom: -2px;
  left: 0;
  right: 500px;
  display: block;
  padding: 196px 0 19px;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 97.91%); }
  .view-more-overlay .view-more-button {
    position: relative;
    border: 1px solid #CBD1D6;
    border-radius: 6px;
    padding: 8px 12px 8px 16px;
    display: inline-block;
    background: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #444B52;
    cursor: pointer; }
    .view-more-overlay .view-more-button span {
      font-size: 17px;
      color: #939CA3; }

.product-properties {
  padding: 16px 20px;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px #0A0A0A26; }

.card-table {
  width: 436px;
  height: 52px;
  margin-bottom: 8px; }
  .card-table tbody tr:nth-child(odd) {
    background: #F8F9FA; }
  .card-table tbody tr td {
    padding: 6px 12px;
    border: 1px solid #EDEEEF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444B52; }
    .card-table tbody tr td:first-child {
      min-width: 132px; }

.table-attach-link {
  padding: 10px 0;
  margin-bottom: 8px; }
  .table-attach-link .attach-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    gap: 4px; }
    .table-attach-link .attach-link i::before {
      font-size: 14px;
      color: #0664F9; }
    .table-attach-link .attach-link span {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #6A737A; }

.table-view-detail {
  padding: 3px 0;
  display: flex;
  justify-content: center; }
  .table-view-detail a {
    display: flex;
    align-items: baseline;
    gap: 4px; }

.related-post {
  border-radius: 6px;
  padding: 16px 20px 20px 20px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px #0A0A0A26; }
  .related-post .post-heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 16px; }
    .related-post .post-heading .post-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #32373D; }
  .related-post .post-list {
    display: flex;
    flex-direction: column;
    gap: 16px; }

.post-item {
  display: flex;
  gap: 8px; }
  .post-item-image {
    max-width: 120px;
    max-height: 80px;
    border-radius: 4px; }
  .post-item-title {
    padding: 4px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #444b52; }
    .post-item-title .tag-list {
      display: flex;
      gap: 8px; }
      .post-item-title .tag-list .badge {
        border-radius: 4px;
        border: 1px solid #EDEEEF;
        background: #EDEEEF;
        padding: 5px 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #6A737A; }
