::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

.swiper {
  max-width: 1176px;
  width: 100%;
  max-height: 504px;
  height: 100%;
  margin-bottom: 24px;
  background-color: #212529; }

.swiper-content .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 7%; }

.swiper-custom [class*=swiper-button] {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #a7a7b1;
  border-radius: 50%;
  top: calc(50% - 0px);
  opacity: .7;
  transition: all .3s ease; }

.swiper-custom .swiper-button-prev:after {
  content: "\f104"; }

.swiper-custom .swiper-button-prev:after, .swiper-custom .swiper-button-next:after {
  font-family: icon;
  font-size: 16px;
  color: #6c757d;
  display: block; }

.swiper-content .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 7%; }

.swiper-custom .swiper-button-disabled {
  opacity: 0;
  transition: all .3s ease; }

.swiper-custom .swiper-button-next:after {
  content: "\f105"; }

.swiper-custom .swiper-button-prev:after, .swiper-custom .swiper-button-next:after {
  font-family: icon;
  font-size: 16px;
  color: #6c757d;
  display: block; }

.swiper-custom .swiper-pagination {
  width: 100%;
  bottom: 24px; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-banner .swiper-pagination-bullet {
  margin: 0 8px !important; }

.swiper-custom .swiper-pagination-bullet {
  width: 12px;
  height: 12px; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2); }

.swiper-custom .swiper-pagination-bullet-active {
  background: #cd1817; }

@media only screen and (max-width: 991px) {
  .swiper {
    margin-bottom: 28px; }
  .swiper-top .swiper-button-prev {
    display: none; }
  .swiper-top .swiper-button-next {
    display: none; }
  .swiper-custom .swiper-pagination {
    bottom: 16px;
    width: 100%; }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10; }
  .swiper-custom .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 1000px;
    margin: 0 4px !important; } }

html,
body {
  position: relative;
  height: 100%; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn-primary {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid #212529;
  background: #212529;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%; }

.text-center {
  text-align: center !important; }

[class^=ic-]::before {
  font-family: icon;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased; }

*::before {
  box-sizing: inherit; }

.chapter-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 4px;
  color: #444b52;
  text-align: center; }

.hidden {
  display: none; }

.icon-Combined-Shape:before {
  content: "\e90d"; }

.ic-phone-fold:before {
  content: "\e901"; }

.ic-tablet-2:before {
  content: "\e905"; }

.ic-galaxy-watch:before {
  content: "\e982"; }

.ic-galaxy-buds:before {
  content: "\e97f"; }

.ic-apple-cable:before {
  content: "\ea37"; }

.ic-tv:before {
  content: "\e900"; }

.typography {
  text-align: center;
  margin-bottom: 20px; }

.typography-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: #212529; }

@media only screen and (max-width: 991px) {
  .typography {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 8px;
    align-items: baseline; }
  .typography-title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-right: 4px;
    margin-bottom: 0; } }

.section-hot-promotion {
  margin-bottom: 24px; }

.hot-promotion-inner {
  display: flex; }

.promotion-main {
  max-width: 576px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 4px rgba(10, 10, 10, 0.15);
  border-radius: 16px;
  text-align: center;
  margin-right: 20px;
  max-height: 576px;
  height: 100%;
  overflow: hidden; }
  .promotion-main img {
    max-width: 380px;
    max-height: 380px;
    margin-top: 60px;
    transition: all .3s ease; }

.promotion-main:hover .hot-promotion-content {
  opacity: 0;
  transform: translateY(-50px); }

.promotion-main:hover .btn-buyNow {
  margin-top: 6px;
  opacity: 1;
  transform: translateY(-50px); }

.promotion-main:hover img {
  transform: scale(1.03);
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }

.promotion-text {
  max-width: 416px;
  width: 100%;
  margin: auto;
  padding-top: 20px; }

img {
  vertical-align: middle; }

.hot-promotion-title {
  font-size: 24px;
  color: #32373d;
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 2; }

.truncate2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box; }

.hot-promotion-content {
  font-size: 18px;
  color: #444b52;
  font-weight: 600;
  transition: all .3s ease;
  overflow: hidden;
  position: relative;
  height: 50px; }
  .hot-promotion-content p {
    margin-bottom: 0 !important; }

p,
.intro-para,
.para,
.small-para {
  font-weight: 400;
  color: inherit;
  margin: 0 0 15px; }

p,
.para {
  font-size: 16px;
  line-height: 26px; }

.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both; }

.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 14px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.btn-buyNow {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background: #212529;
  padding: 10px 20px;
  max-width: 110px;
  border: 1px solid #212529;
  border-radius: 1000px;
  color: #fff;
  opacity: 0;
  transition: all .3s ease; }

.mt-4 {
  margin-top: 4px; }

.promotion-mini {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; }

.promotion-mini-product {
  max-width: 276px;
  max-height: 276px;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 1px 4px rgba(10, 10, 10, 0.15);
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  overflow: hidden; }
  .promotion-mini-product img {
    max-width: 132px;
    max-height: 132px;
    transition: all .3s ease;
    margin-top: 10px; }

.promotion-mini-product:hover .mini-product-content {
  opacity: 0;
  transform: translateY(-50px); }

.promotion-mini-product:hover .btn-buyNow {
  margin-top: 6px;
  opacity: 1;
  transform: translateY(-50px); }

.promotion-mini-product:hover img {
  position: relative;
  z-index: 3;
  transform: scale(1.08); }

.mini-product-title {
  font-size: 18px;
  line-height: 24px;
  color: #32373d;
  padding-top: 12px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #fff; }

.mini-product-content {
  font-size: 14px;
  line-height: 132%;
  color: #444b52;
  font-weight: 600;
  margin-top: 6px;
  transition: all .3s ease;
  overflow: hidden;
  position: relative;
  min-height: 45px; }

@media only screen and (max-width: 991px) {
  .section-hot-promotion {
    margin-top: 36px;
    margin-bottom: 0;
    padding: 0 10px 16px; }
  .hot-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #212529;
    margin-bottom: 12px; }
  .hot-promotion-inner {
    padding-bottom: 20px;
    flex-direction: column; }
  a {
    color: #0168fa;
    text-decoration: none;
    background-color: transparent; }
  .promotion-main {
    margin-right: 0; }
    .promotion-main a {
      filter: drop-shadow(0px 1px 4px rgba(10, 10, 10, 0.15));
      border-radius: 10px;
      background: #fff;
      max-height: 158px;
      height: 100%;
      display: flex;
      align-items: center; }
  .promotion-main img {
    max-width: 148px;
    max-height: 148px;
    width: 100%;
    padding: 16px 0 16px 8px;
    margin-top: 0; }
  .promotion-text {
    padding: 22px 8px;
    margin-left: 8px; }
  .hot-promotion-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #32373d; }
  .truncate2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box; }
  .hot-promotion-content > p {
    font-size: 14px;
    color: #444b52;
    font-weight: 500;
    line-height: 20px; }
  .promotion-mini {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: space-between;
    gap: 12px; }
  .promotion-mini-product {
    padding: 12px;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 4px rgba(10, 10, 10, 0.15);
    border-radius: 8px;
    height: 100%;
    flex-basis: 48%; }
  .promotion-mini-product img {
    max-width: 120px;
    width: 100%; }
  .mini-product-title {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #32373d;
    margin-top: 8px; }
  .mini-product-content > p {
    font-size: 12px;
    color: #444b52;
    margin-top: 4px;
    line-height: 120%;
    margin-bottom: 0; } }

.btn.focus,
.btn:focus,
.btn:hover {
  color: #fff;
  text-decoration: none; }

body {
  position: relative;
  overflow-x: hidden; }

.box-container {
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative; }

.ct-mb {
  display: none; }

main {
  font-family: roboto; }

@media only screen and (max-width: 1199px) {
  .box-container {
    padding: 0 5px; } }

@media only screen and (max-width: 991px) {
  .box-container {
    padding: 0 10px; } }

@media only screen and (max-width: 991px) {
  .ct-desk {
    display: none; }
  .ct-mb {
    display: block; } }

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  color: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  background-color: #F8F9FA; }
  main .section-breadcrumb {
    background: #F8F9FA;
    padding: 6px 0px; }
    main .section-breadcrumb .breadcrumb-list {
      display: flex;
      align-items: flex-start;
      gap: 8px; }
      main .section-breadcrumb .breadcrumb-list li {
        list-style-type: none;
        color: #0664F9;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; }
        main .section-breadcrumb .breadcrumb-list li a {
          color: #0664F9;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px; }
      main .section-breadcrumb .breadcrumb-list div {
        color: #CBD1D6; }
  @media only screen and (max-width: 991px) {
    main .section-breadcrumb {
      background-color: #F8F9FA; }
      main .section-breadcrumb .breadcrumb-list {
        display: flex;
        align-items: center;
        gap: 4px; }
        main .section-breadcrumb .breadcrumb-list li {
          color: #444B52;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px; }
          main .section-breadcrumb .breadcrumb-list li a {
            color: #444B52;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px; } }
  main .section-tabs {
    margin-bottom: 24px; }
    main .section-tabs .category-container .chapter-tabs {
      padding: 20px 36px;
      border-radius: 6px;
      background: #FFF;
      box-shadow: 0px 1px 4px 0px rgba(10, 10, 10, 0.15); }
      main .section-tabs .category-container .chapter-tabs .chapter-list {
        display: flex;
        gap: 32px; }
        main .section-tabs .category-container .chapter-tabs .chapter-list .chapter {
          display: block;
          max-width: 195px;
          width: 100%; }
          main .section-tabs .category-container .chapter-tabs .chapter-list .chapter .chapter-img {
            width: 110px;
            height: 110px;
            padding: 25px;
            margin: 0 auto 23px;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center; }
            main .section-tabs .category-container .chapter-tabs .chapter-list .chapter .chapter-img i::before {
              font-size: 60px;
              color: #444b52; }
            main .section-tabs .category-container .chapter-tabs .chapter-list .chapter .chapter-img i.ic-galaxy-buds::before {
              font-size: 30px; }
          main .section-tabs .category-container .chapter-tabs .chapter-list .chapter.active {
            position: relative;
            font-weight: 700; }
            main .section-tabs .category-container .chapter-tabs .chapter-list .chapter.active .chapter-img {
              border: none;
              background: #212529; }
              main .section-tabs .category-container .chapter-tabs .chapter-list .chapter.active .chapter-img i::before {
                color: #fff; }
            main .section-tabs .category-container .chapter-tabs .chapter-list .chapter.active .chapter-label {
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              color: #212529; }
          main .section-tabs .category-container .chapter-tabs .chapter-list .chapter:hover .chapter-img {
            border: none;
            background: #212529;
            transition: all 0.6s ease; }
            main .section-tabs .category-container .chapter-tabs .chapter-list .chapter:hover .chapter-img i::before {
              color: #fff; }
          main .section-tabs .category-container .chapter-tabs .chapter-list .chapter:hover .chapter-label {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #212529; }
  @media only screen and (max-width: 991px) {
    main .section-tabs {
      margin-bottom: 28px; }
      main .section-tabs .category-container {
        padding: 0; }
        main .section-tabs .category-container .chapter-tabs {
          padding: 16px 10px;
          position: relative;
          border-radius: 0;
          border: none;
          box-shadow: 0 0 3px 0 #dee2e6;
          display: flex;
          flex-direction: column;
          min-width: 0;
          word-break: break-word;
          background-color: #fff;
          background-clip: border-box;
          flex: 1 1 auto; }
          main .section-tabs .category-container .chapter-tabs .typography .typography-title span {
            font-size: 14px;
            line-height: 19px;
            font-weight: 400;
            margin-top: 4px;
            color: #6c757d;
            white-space: nowrap; }
          main .section-tabs .category-container .chapter-tabs .chapter-list {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            width: 100%; }
            main .section-tabs .category-container .chapter-tabs .chapter-list .chapter {
              display: flex;
              width: calc(100%/2 - 6px);
              padding: 8px;
              text-align: left;
              align-items: center;
              border-radius: 4px;
              box-shadow: 0 0 3px 0 #dee2e6;
              background-color: #fff; }
              main .section-tabs .category-container .chapter-tabs .chapter-list .chapter .chapter-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border: none;
                padding: 0;
                margin: 0 8px 0 0; }
                main .section-tabs .category-container .chapter-tabs .chapter-list .chapter .chapter-img i::before {
                  font-size: 32px;
                  color: #6a737a; }
                main .section-tabs .category-container .chapter-tabs .chapter-list .chapter .chapter-img i.ic-galaxy-buds::before {
                  font-size: 16px; }
              main .section-tabs .category-container .chapter-tabs .chapter-list .chapter .chapter-label {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; }
              main .section-tabs .category-container .chapter-tabs .chapter-list .chapter.active {
                display: flex;
                border: 1px solid #212529;
                background: #212529; }
                main .section-tabs .category-container .chapter-tabs .chapter-list .chapter.active .chapter-img {
                  border: none;
                  border-radius: 0%; }
                main .section-tabs .category-container .chapter-tabs .chapter-list .chapter.active .chapter-label {
                  color: #fff;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 20px; }
              main .section-tabs .category-container .chapter-tabs .chapter-list .chapter:hover {
                pointer-events: none; } }
  main .section-banner-h5 {
    margin-bottom: 24px; }
  @media only screen and (max-width: 991px) {
    main .section-banner-h5 {
      margin-top: 28px;
      margin-bottom: 28px; } }
