// main (detail)
.detail {
    background-color: #F8F9FA;
}
// product box
.product-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #0A0A0A26;
    padding-bottom: 48px;
}

//breadcrumb
.breadcrumb {
    padding: 6px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff !important;
    list-style: none;
}

.breadcrumb-item::before {
    display: inline-block;
    padding: 0 5px;
    color: #ccc;
    content: "/";
}

.link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #0664F9;
    cursor: pointer;
}

// detail heading
.detail-heading {
    padding: 16px 0;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px 0px #EDEEEF inset;

    .row {
        display: flex;
        justify-content: space-between;

        .col-left {
            display: flex;
            gap: 8px;
            align-items: baseline;
        }

        .col-right {
            padding: 6px 0 3px 0;
            display: flex;
            gap: 16px;
        }
    }
}

// block product name
.product-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #212529;
}

.sku {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #939CA3;
}

// block rating group
.rating-group {
    display: flex;
    gap: 4px;

    .rating-star {
        display: flex;
        gap: 4px;
    }

    .ic-star::before {
        color: #939CA3;
    }

    .fill::before {
        color: #EFB140;
    }

    .rating-span {
        color: #939CA3;
    }
}

// block compare link
.compare-link {
    a {
        .ic-plus::before {
            display: inline-flex;
            justify-content: center;
            border: 1px solid #0664F9;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            font-size: 10px;
            padding: 2px;
        }
    }
}

// detail info
.detail-info {
    margin-top: 16px;
    display: flex;
    gap: 24px;

    &__col-left {
        padding: 32px 0 0 0;
    }

    &__col-right {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

// detail swiper
.detail-info__col-left {
    
    .swiper-container {
        background-color: #fff;
        max-width: 576px;
        max-height: 451px;

        .swiper-wrapper {

            .swiper-slide {
                max-width: 576px;
                max-height: 427px;
                background: #fff;

                img {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}


.swiper-button-prev {

    &::after {
        display: none;
    }

    span {
        width: 40px;
        height: 40px;
        padding: 12px 13px 12px 11px;
        border-radius: 100px;
        border: 1px;
        display: flex;
        gap: 10px;
        background: #fff;
        color: #CBD1D6;
        border: 1px solid #CBD1D6;
        margin-left: 7px;

        .ic-angle-right {
            width: 16px;
            height: 16px;

            &::before {
                color: #cbd1d6;
                font-size: 16px;
            }
        }
    }
}

.swiper-button-next {

    &::after {
        display: none;
    }

    span {
        width: 40px;
        height: 40px;
        top: 226.5px;
        left: 529px;
        padding: 12px 11px 12px 13px;
        border-radius: 100px;
        border: 1px;
        display: flex;
        gap: 10px;
        background: #fff;
        color: #CBD1D6;
        border: 1px solid #CBD1D6;
        margin-right: 7px;

        .ic-angle-right {
            width: 16px;
            height: 16px;

            &::before {
                color: #cbd1d6;
                font-size: 16px;
            }
        }
    }
}

.swiper-pagination-bullets {
    margin-top: 24px;

    .swiper-pagination-bullet-active {
        background: #CB1C22;
    }
}

// block detail feature
.detail-feature {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;

    span {
        width: 44px;
        height: 44px;

        i {

            &::before {
                font-size: 33px;
                color: #444B52;
            }
        }
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #444B52;
    }
}

// block detail description
.detail-description {
    margin-top: 16px;
    border-radius: 6px;
    border: 1px solid #EDEEEF;
    padding: 12px 16px;
    background: #F8F9FA;

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
            display: flex;
            gap: 8px;
            border-radius: 4px;

            span::before {
                width: 24px;
                height: 24px;
                font-size: 21px;
                color: #939CA3;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                color: #444B52;
            }
        }
    }
}

// block detail policy
.detail-policy {
    margin-top: 8px;
    display: flex;
    gap: 16px;

    &__item {
        display: flex;
        gap: 4px;

        span::before {
            width: 24px;
            height: 24px;
            font-size: 21px;
            color: #CB1C22;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #444B52;
        }

        a {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #0664F9;
            text-decoration: underline;
        }
    }
}

// detail info col right

// block product price
.product-price {
    display: flex;
    gap: 8px;
    align-items: baseline;

    &__new {
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        color: #CB1C22;
    }

    &__old {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #939CA3;
        text-decoration: line-through;
    }
}

// block product promo
.product-promo {
    border-radius: 6px;
    border: 1px solid #EDEEEF;
    padding: 0 0 4px 0;
    background: #F8F9FA;

    .promo-title {
        border-radius: 2px 2px 0 0;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .promo-list {
        border: 1px solid #EDEEEF;
        padding: 8px 0;

        li {
            padding: 4px 12px;
        }
    }
}

// custom radio input
.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;

    input {
        position: relative !important;
        border: none;
        appearance: none;
        cursor: pointer;
        margin-left: 0 !important;

        &::before {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            content: "";
            display: block;
            border-radius: 50%;
        }

        &:checked::before {
            background-color: #cb1c22;
            transform: scale(.625);
            z-index: 2;
        }

        &::after {
            width: 16px;
            height: 16px;
            position: relative;
            top: 0;
            border: 1px solid #97a3b9;
            background-color: #fff;
            content: "";
            display: block;
            border-radius: 50%;
        }

        &:checked::after {
            background: 0 0;
            border: 1px solid #cb1c22;
        }
    }

    label {

        .promo-option-group {
            border-radius: 2px 2px 0 0;
            padding: 4px 0;
            display: flex;
            align-items: center;
            gap: 8px;

            .promo-option-item {
                display: flex;
                gap: 8px;

                .promo-image {
                    width: 50px;
                    height: 50px;
                }
            }

            .promo-plus {
                width: 12px;
                height: 12px;
                color: #444B52;
            }

            .promo-text {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: #444B52;
            }
        }

        .promo-text {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #444B52;
        }
    }
}

// promo title tag
.promo-title-tag {
    display: flex;
    gap: 10px;
    background: #F8F9FA;
    box-shadow: 0px 1px 0px 0px #EDEEEF inset;
    
    .title-tag {
        border-radius: 0 0 4px 0;
        padding: 4px 12px;
        background: #EDEEEF;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #32373D;
    }
}

// promo check list
.promo-box-check-list {
    padding: 8px 0;

    li {
        padding: 4px 12px;
        display: flex;
        gap: 8px;
        align-items: center;

        .icon-ok-circled {
            width: 16px;
            height: 16px;

            &::before {
                font-size: 16px;
                color: #48BB78;
            }
        }

        div {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #444B52;

            span {
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                color: #444B52;
            }
        }
    }
}

// block CTA
.cta {
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #CB1C22;
    border: 1px solid #CB1C22;
    border-radius: 6px;
    padding: 18px 32px;

    strong {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        color: #fff;
    }
}

//hotline
.hotline {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #444b52;

    span {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: #CB1C22;
    }
}

// detail row
.detail-row {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: center;

    .detail-col-left {
        border-radius: 6px;
        padding: 0 20px;
        background-color: #fff;
        box-shadow: 0px 1px 4px 0px #0A0A0A26;
    }

    .detail-col-right {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

// card title
.card-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #212529;
}

.mt-16 {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}
// card content
.card-content {

    .swiper-container {
        max-width: 636px;
        height: 374px;
        background-color: #fff;

        .swiper-wrapper {

            .swiper-slide {

                max-width: 636px;
                height: 354px;

                img {
                    width: auto;
                    height: auto;
                }
            }
        }

        .swiper-pagination-bullets {
            margin-top: 4px;

            .swiper-pagination-bullet {
                width: 40px;
                height: 4px;
                border-radius: 100px;
                // background: #CBD1D6;
            }
        
            .swiper-pagination-bullet-active {
                background: #CB1C22;
            }
        }

        .swiper-button-prev {

            span {
                margin-left: 0;
            }
        }

        .swiper-button-next {

            span {
                margin-right: 0;
            }
        }
    }
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.card-title-sm {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #212529;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444B52;
}

.hidden-content {
    display: none;
}

.card-image {
    position: relative;
}

.view-more-overlay {
    position: absolute;
    z-index: 100;
    bottom: -2px;
    left: 0;
    right: 500px;
    display: block;
    padding: 196px 0 19px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 97.91%);

    .view-more-button {
        position: relative;
        border: 1px solid #CBD1D6;
        border-radius: 6px;
        padding: 8px 12px 8px 16px;
        display: inline-block;
        background: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #444B52;
        cursor: pointer;

        span {
            font-size: 17px;
            color: #939CA3;
        }
    }
}

// right col / Thong so ky thuat
.product-properties {
    padding: 16px 20px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #0A0A0A26;
}

.card-table {
    width: 436px;
    height: 52px;
    margin-bottom: 8px;

    tbody {

        tr {

            &:nth-child(odd) {
                background: #F8F9FA;
            }

            td {
                padding: 6px 12px;
                border: 1px solid #EDEEEF;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #444B52;

                &:first-child {
                    min-width: 132px;
                }
            }
        }
    }
}

.table-attach-link {
    padding: 10px 0;
    margin-bottom: 8px;

    .attach-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
        
        i::before {
            font-size: 14px;
            color: #0664F9;
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #6A737A;
        }
    }
}

.table-view-detail {
    padding: 3px 0;
    display: flex;
    justify-content: center;

    a {
        display: flex;
        align-items: baseline;
        gap: 4px;
    }
    
}

// Bai viet lien quan
.related-post {
    border-radius: 6px;
    padding: 16px 20px 20px 20px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px #0A0A0A26;

    .post-heading {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 16px;

        .post-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #32373D;
        }
    }

    .post-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }
}

.post-item {
    display: flex;
    gap: 8px;

    &-image {
        max-width: 120px;
        max-height: 80px;
        border-radius: 4px;
    }

    &-title {
        padding: 4px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #444b52;

        .tag-list {
            display: flex;
            gap: 8px;

            .badge {
                border-radius: 4px;
                border: 1px solid #EDEEEF;
                background: #EDEEEF;
                padding: 5px 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                color: #6A737A;
            }
        }
    }
}
