
.details {
    background-color: #fff;

    .breadcrumb {
        background-color: #fff;
    }
}

// product details heading

.detail-heading {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 16px;
    background: #FFF;
    box-shadow: 0px -1px 0px 0px #EDEEEF inset;

    .product-name {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        color: #212529;
    }
    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #939CA3;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 4px;

        &__star {
            display: flex;
            align-items: center;
            gap: 4px;

            .icon-star {
                color: #EFB140;
            }

            li:last-child {
                span {
                    color: #939CA3;
                }
            }
        }

        &__link {

            span {
                color: #939CA3;
            }
        }

        
    }
}

// block product-name
.product-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #212529;

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #939CA3;
    }
}

// product details information

.pd-info {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 16px 0 24px 0;

    &__list {
        padding-top: 32px;

        .swiper {
            max-width: 576px;
            max-height: 430px;
            background-color: transparent;

            .swiper-pagination {
                display: flex;
                justify-content: center;
                gap: 8px;
                margin-bottom: 12px;

                .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    margin: 0;
                }
            }

            .swiper-button-prev {
                left: 7px;
            }

            .swiper-button-next {
                right: 7px;
            }
        }

        &__gallery {
            display: flex;
            justify-content: center;
            gap: 32px;
            margin-bottom: 16px;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;

                span {
                    font-size: 44px;
                    color: #444B52;
                }

                p {
                    color: #444B52;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }

        &__description {
            padding: 12px 16px;
            border-radius: 6px;
            border: 1px solid #EDEEEF;
            background: #F8F9FA;
            margin-bottom: 16px;

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                margin-bottom: 8px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        font-size: 21px;
                        color: #939CA3;
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        color: #444B52;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }

        &__feature {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 8px;

            &__item {
                display: flex;
                align-items: center;
                gap: 4px;

                span {
                    font-size: 21px;
                    width: 24px;
                    height: 24px;
                    color: #CB1C22;
                }

                p {
                    color: #444B52;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }

                .re-link {
                    text-decoration: underline;
                }
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        &__price {
            display: inline-flex;
            align-items: baseline;
            gap: 8px;

            &--main {
                color: #CB1C22;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }

            &--sub {
                color: #939CA3;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                text-decoration: line-through;
            }
        }

        &__promo {
            display: flex;
            padding-bottom: 0px;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 6px;
            border: 1px solid #EDEEEF;
            background: #F8F9FA;

            &__title {
                border-radius: 2px 2px 0px 0px;
                padding: 8px 12px;
                color: #32373D;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }

            &__list {
                padding: 8px 0;
                border: 1px solid #EDEEEF;

                &__item {
                    display: flex;
                    padding: 4px 12px;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;

                    &__radio {

                        input {
                            position: relative;
                            border: none;
                            cursor: pointer;
                            appearance: none;
                            outline: 0;

                            &::before {
                                width: 16px;
                                height: 16px;
                                position: absolute;
                                left: 0;
                                top: 0;
                                background-color: #fff;
                                transform: scale(0);

                                content: "";
                                display: block;
                                border-radius: 50%;
                                transition: 240ms;
                            }

                            &::after {
                                width: 16px;
                                height: 16px;
                                position: relative;
                                top: 0;
                                // left: 0;
                                border: 1px solid #97a3b9;
                                background-color: #fff;

                                content: "";
                                display: block;
                                border-radius: 50%;
                                transition: 240ms;
                            }

                            &:checked::before {
                                background: #CB1C22;
                                transform: scale(.625);
                                z-index: 2;
                            }

                            &:checked::after {
                                border: 1px solid #CB1C22;
                            }
                        }
                    }

                    &__text {
                        color: #444B52;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    &__group {
                        display: flex;
                        padding: 4px 0px;
                        align-items: center;
                        gap: 8px;

                        &__item {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            &__img {

                                img {
                                    max-width: 50px;
                                    max-height: 50px;
                                }
                            }

                            &__text {
                                color: #444B52;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }
                        }

                        &__plus {

                            i {

                                &::before {
                                    color: #444B52;
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.re-link {
    color: #0168fa;
    position: relative;
    display: inline-block;
}