
.row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 16px;
    background: #FFF;
    box-shadow: 0px -1px 0px 0px #EDEEEF inset;

    .col-left {
        display: flex;
        gap: 8px;
        align-items: baseline;
    }

    .col-right {
        display: flex;
        align-items: center;
        padding: 6px 0 3px 0;
        gap: 16px;

        .rating-group {
            display: flex;
            gap: 4px;
        }
    }
}

//block product name
.product-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #212529;
}
.sku {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #939CA3;
}

// block rating star
.rating-star {
    display: flex;
    align-items: center;
    gap: 4px;

    li {
        
        .fill::before {
            color: #EFB140;
        }
        
        .icon-star {
            color: #939CA3;
        }
    }
}

//block rating link
.rating-link {
    span {
        color: #939CA3;
    }   
}

.re-link {
    color: #0664F9;

    .ic-plus::before {
        color: #0664F9;
        border: 1px solid #0664F9;
        border-radius: 50%;
        padding: 1px;
    }
}

//section product

.product {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 16px 0 24px 0;
}

// block swiper
.product-swiper {
    max-width: 576px;
    width: auto;
    max-height: 430px;
    height: auto;
    background-color: transparent;

    .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 13px;

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin: 0;
            color: red;
        }
    }

    .swiper-button-prev {
        left: 7px;
    }

    .swiper-button-next {
        right: 7px;
    }
}

// detail gallery
.detail-gallery {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;

    .gallery-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        span {
            font-size: 44px;
            color: #444B52;
        }

        p {
            color: #444B52;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

// .product{
//     //lv1
//     &__gallery{
//         //lv2
//     }
//     &__info{
//         // lv2
//         &-price{
//             // lv3
//         }
//         &-promo{
//             //lv3
//         }
//         &-cta{

//         }
//     }
// }

// // block price 
// .product__info-price{
//     // 1
//     .price{
//         // 2
//         &-sale{
//             // 3
//         }
//         &-old{

//         }
//     }
// }

// //block promotion
// .product__info-promo{

// }

// //block mua ngay
// .product__info-cta{
    
// }
