// .product{
//     //lv1
//     &__gallery{
//         //lv2
//     }
//     &__info{
//         // lv2
//         &-price{
//             // lv3
//         }
//         &-promo{
//             //lv3
//         }
//         &-cta{

//         }
//     }
// }

// // block price 
// .product__info-price{
//     // 1
//     .price{
//         // 2
//         &-sale{
//             // 3
//         }
//         &-old{

//         }
//     }
// }

// //block promotion
// .product__info-promo{

// }

// //block mua ngay
// .product__info-cta{
    
// }

// ------------------------------------

// product-box
.product-box {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #0A0A0A26;
}
// breadcrumb
.breadcrumb {
    padding: 6px 0;
    display: flex;
    gap: 8px;
    align-items: center;

    .breadcrumb-item {
        fz14
    }
}