@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    align-items: $align;
}

@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexInCenter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@mixin textWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin flexAlign($space) {
    display: flex;
    align-items: $space;
}
@mixin flexJustify($space) {
    display: flex;
    justify-content: $space;
}
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin setLine($row: 2) {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin hover() {
    &:active,
    &:hover,
    &:focus {
        @content;
    }
}

@mixin setText($ff, $fs, $color) {
    font-family: $ff;
    font-size: $fs;
    color: $color;
}

@mixin setAcreage($w, $h) {
    width: $w;
    height: $h;
}

@mixin setBg($url, $position: center, $repeat: no-repeat, $cover: cover) {
    background: url($url) $repeat $position;
    background-size: $cover;
}

@mixin responsive($breakpoint) {
    @if $breakpoint== "xxl" {
        @media only screen and (max-width: 1400px) {
            @content;
        }
    }
    @if $breakpoint== "lg" {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint== "md" {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @if $breakpoint== "sm" {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @if $breakpoint== "xsm" {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
    @if $breakpoint== "xs" {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }
    @if $breakpoint== "xxs" {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
    @if $breakpoint== "cxs" {
        @media only screen and (max-width: 359px) {
            @content;
        }
    }
}

